.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-font-color);
  margin-bottom: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin-right: 50px;
}

.fullName {
}

.shortName {
  display: none;
}

@media (max-width: 1350px) {
  .fullName {
    display: none;
  }

  .shortName {
    display: block;
  }

  .nav {
    display: none;
  }
}
